<!DOCTYPE html>
<html>

    <head>
        <title>Simba - About</title>
    </head>

    <body>
        <h1>Simba says...</h1>
	<br />
	Simple interface for managing best activities. Developed by <a href="https://github.com/ecleipteon/">Luca Castiglione </a> for BEST Napoli.
	<br /> Copyright (2015) Best Napoli - This software will be released as an Open Source Software. We are still thinking about the more appropriate license for this software. 	
	<hr />
	<br> Current Version:  <strong>{{ version }}</strong><br /></br>
        <a href="/simba/">Home</a><br />
    </body>

</html>
